.Color {
	position: relative;
	overflow: hidden;
}

.Color {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		width: 200%;
		height: 100%;
		background: linear-gradient(
			to right,
			rgb(227, 224, 219) 0%,
			rgb(227, 224, 219) 50%,
			white 50%,
			white 100%
		);
		animation: 3s infinite alternate ease-in-out;
	}

	&.Left::before {
		left: 0;
		animation-name: LeftSlide;
	}

	&.Right::before {
		right: 0;
		animation-name: RightSlide;
	}
}

@keyframes LeftSlide {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes RightSlide {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(50%);
	}
}
