.Color {
	@apply relative;

	transition-property: transform;
	transition-timing-function: ease-out;
	background: white;
}

.Scroll:hover {
	.Color {
		transition: none;
		transform: rotate(0deg) translateX(0px) rotate(0deg) !important;
	}
}
