@import url("datatables.net-dt");

@import url("datatables.net-buttons-dt");

@import url("datatables.net-fixedcolumns-dt");

@import url("datatables.net-fixedheader-dt");

@import url("datatables.net-responsive-dt");

@import url("datatables.net-rowgroup-dt");

@import url("datatables.net-scroller-dt");

html body,
html.dark body {
	status-table {
		@apply font-Hack text-amber-700;

		div.dt-container .dt-button,
		div.dt-container .dt-input,
		div.dt-container .dt-search input {
			@apply border-2 border-solid border-blue-700 px-4 py-2;
		}

		select {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='rgb(204 158 89/var(--tw-border-opacity,1))' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
		}

		[multiple],
		[type="date"],
		[type="datetime-local"],
		[type="email"],
		[type="month"],
		[type="number"],
		[type="password"],
		[type="search"],
		[type="tel"],
		[type="text"],
		[type="time"],
		[type="url"],
		[type="week"],
		input:where(:not([type])),
		select,
		textarea,
		div.dt-container .dt-button,
		div.dt-container .dt-paging-button,
		div.dt-container .dt-input,
		div.dt-container .dt-search input {
			&,
			&:hover,
			&:focus,
			&:active {
				&,
				&:not(.disabled) {
					@apply m-0 border-2 border-solid bg-none px-4 py-2 outline-none;
				}
			}

			&:focus {
				@apply outline-none ring-stone-200;
			}
		}

		div.dt-container select.dt-input {
			@apply cursor-pointer;

			padding-left: 2.5rem !important;

			background-position: left 0.5rem center;
		}

		table.dataTable thead > tr > {
			td.dt-orderable-asc,
			td.dt-orderable-desc,
			td.dt-ordering-asc,
			td.dt-ordering-desc,
			th.dt-orderable-asc,
			th.dt-orderable-desc,
			th.dt-ordering-asc,
			th.dt-ordering-desc {
				@apply text-right;

				span.dt-column-order {
					@apply mx-2;

					&:before,
					&:after {
						content: "■";

						content: "■"/"";
					}
				}
			}
		}

		table.dataTable.cell-border {
			> thead > tr > td,
			> thead > tr > th,
			> tbody > tr > td,
			> tbody > tr > th,
			> tbody > tr > :first-child,
			> tbody > tr:first-child > *,
			> tbody > tr > td:first-child,
			> tbody > tr > th:first-child {
				@apply border-2 border-solid border-amber-700 text-amber-700;

				&:hover {
					/* TODO: DESATURATE */
					@apply bg-gray-50;
				}
			}
		}

		table.dataTable.cell-border {
			> thead > tr:first-child > td,
			> thead > tr:first-child > th {
				@apply border-b-0;
			}
		}

		div.dt-container {
			&.dt-empty-footer {
				.dt-scroll-body,
				tbody > tr:last-child > * {
					@apply border-b-0;
				}

				.dt-scroll-body tbody > tr:last-child > * {
					@apply border-2 border-solid border-amber-700 text-amber-700;
				}
			}

			.dt-paging {
				.dt-paging-button {
					&.current,
					&.current:hover,
					&:hover,
					&:active {
						@apply border-none bg-none font-bold text-amber-700 shadow-none !important;
					}
				}
			}
		}

		.Title {
			h1 {
				@apply mb-4 mr-4 text-3xl font-bold uppercase tracking-widest text-stone-900 dark:text-white;
			}
		}

		.HighLight {
			@apply relative font-bold text-amber-700;
		}

		.Touch {
			@apply relative mb-2 h-7 w-full max-w-[30%] cursor-cell bg-stone-200;

			.Progress {
				@apply pointer-events-none absolute inset-0 flex;

				.Segment {
					@apply relative flex flex-1 overflow-hidden;

					&.Completed {
						@apply bg-green-50 !important;
					}

					.Corner {
						@apply absolute bottom-auto left-auto right-1 top-1 h-2 w-4;
					}
				}
			}
		}

		.Information {
			@apply mb-4 text-lg text-stone-700 dark:text-stone-400;
		}

		.File {
			@apply cursor-pointer text-right font-Hack text-2xl tracking-[-5px];
		}

		.SHA {
			@apply font-Hack uppercase tabular-nums;
		}

		.Pulse {
			@apply font-medium text-violet-200 dark:text-violet-200;

			&:hover {
				@apply relative inline-block text-orange-200;

				animation: TextGlow 2s infinite alternate ease-out;

				&::after {
					@apply absolute left-0 w-full bg-orange-200;

					content: "";

					bottom: -2px;

					height: 2px;

					animation: PulseGlow 2s infinite alternate ease-out;
				}
			}
		}
	}
}

@keyframes PulseGlow {
	0% {
		box-shadow: 0 0 5px theme("colors.amber.700");
	}

	50% {
		box-shadow: 0 0 10px theme("colors.yellow.700");
	}

	100% {
		box-shadow: 0 0 5px theme("colors.amber.700");
	}
}

@keyframes TextGlow {
	0% {
		text-shadow: 0 0 5px theme("colors.amber.700");
	}

	50% {
		text-shadow: 0 0 10px theme("colors.yellow.700");
	}

	100% {
		text-shadow: 0 0 5px theme("colors.amber.700");
	}
}
