.Pulse:hover {
	@apply relative inline-block text-orange-200;
	animation: TextGlow 2s infinite alternate ease-out;
}

.Pulse:hover::after {
	@apply absolute left-0 w-full bg-orange-200;
	content: "";
	bottom: -2px;
	height: 2px;
	animation: PulseGlow 2s infinite alternate ease-out;
}

@keyframes PulseGlow {
	0% {
		box-shadow: 0 0 5px orange;
	}
	50% {
		box-shadow: 0 0 10px yellow;
	}
	100% {
		box-shadow: 0 0 5px orange;
	}
}

@keyframes TextGlow {
	0% {
		text-shadow: 0 0 5px orange;
	}
	50% {
		text-shadow: 0 0 10px yellow;
	}
	100% {
		text-shadow: 0 0 5px orange;
	}
}
