.Pulse:hover {
	position: relative;
	display: inline-block;
	color: orange;
	animation: TextGlow 2s infinite alternate ease-out;
}

.Pulse:hover::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: orange;
	animation: PulseGlow 2s infinite alternate ease-out;
}

@keyframes PulseGlow {
	0% {
		background: orange;
		box-shadow: 0 0 5px orange;
	}
	50% {
		background: yellow;
		box-shadow: 0 0 10px yellow;
	}
	100% {
		background: orange;
		box-shadow: 0 0 5px orange;
	}
}

@keyframes TextGlow {
	0% {
		color: orange;
		text-shadow: 0 0 5px orange;
	}
	50% {
		color: yellow;
		text-shadow: 0 0 10px yellow;
	}
	100% {
		color: orange;
		text-shadow: 0 0 5px orange;
	}
}
